body {
    font-size: 20px;
}

p {
    margin-bottom: 30px;
}

sub {
    font-size: 50%;
}

#top-navbar {
    margin-bottom: 0px;
}

#top-navbar ul li a {
    font-size: 15px;
}

section {
    min-height: 500px;
    padding-top: 40px;
    padding-bottom: 40px;
}

section.inverse {
    background-color: #333;
    color: white;
}

.section-heading {
    font-size: 3em;
    display: inline-block;
    padding: 0px 15px 15px;
    border-bottom: 3px solid #128d19;
    margin-bottom: 50px;
}

#home {
    margin-top: 40px;
    background-color: #333;
    font-size: 1.5em;
    color: white;
    background: url('../images/container-bar.jpg') no-repeat;
    background-size: cover;
    text-shadow: 1px 1px 1px black;
}

#home h1 {
    margin-bottom: 20px;
    font-size: 60px;
}

#home .fa {
    margin-right: 3px;
}

#home .lead {
    margin-bottom: 40px;
}

#quick-stats {
    margin-top: 30px;
    margin-bottom: 30px;
}

.speaker-image img {
    border-radius: 300px;
}

.speaker-title {
    font-size: .8em;
    color: #ddd;
}

.text-blue { color: #1d7cf9; }
.text-green { color: #128d19; }
.text-orange { color: #fd962c; }

.btn-primary { background-color: #1d7cf9; border-color: #1d7cf9; }
.btn-success { background-color: #128d19; border-color: #128d19; }
.btn-warning { background-color: #fd962c; border-color: #fd962c; }

.talk .fa {
    margin-right: 5px;
}

.abstract {
    font-size:70%;
    font-style: italic;
}

.striped-rows .row {
    padding: 8px;
    border-top: 1px solid #dddddd;
}

.striped-rows .row:nth-child(odd) {
    background-color: #f9f9f9;
}

#location {
    background-image: url('images/map.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#location .box {
    background-color: rgba(20,20,20,.8);
    color: white;
}